{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    <form action="/forgotpassword" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <p> A new password will be generated and be sent to the email associated with this username. </p>
        <button class="btn btn-primary" type="submit">Generate new password</button>
    </form>
{% endblock %}
